parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - src/Shared/Infrastructure/Persistence/*
            - src/**/*Mapper.php
    tmpDir: var/cache/phpstan
